---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
  </url>
  <url>
    <loc>{{ site.url }}/changelog.html</loc>
  </url>
  <url>
    <loc>{{ site.url }}/roadmap/</loc>
  </url>
  <url>
    <loc>{{ site.url }}/privacy.html</loc>
  </url>
  <url>
    <loc>{{ site.url }}/terms.html</loc>
  </url>
</urlset>
