<footer class="footer{% if mainClass == 'legal' %} legal{% endif %}">
  <p>Support: <a href="mailto:{{ site.supportEmail }}">{{ site.supportEmail }}</a></p>
  <div class="footer-links">
    <a href="/">Home</a>
    <a href="/roadmap/">Roadmap</a>
    <a href="/privacy.html">Privacy Policy</a>
    <a href="/terms.html">Terms of Service</a>
    <a href="/changelog.html">Changelog</a>
  </div>
  <div class="footer-links">
    {% for link in site.socialLinks %}
      <a href="{{ link.href }}" target="_blank" rel="{{ link.rel }}">{{ link.label }}</a>
    {% endfor %}
  </div>
  <p>{{ site.copyright }}</p>
  <a href="https://lift-off.sh/p/3d-print-cost-calculator" target="_blank" title="LiftOff launch badge" class="liftoff>
    <img
      src="https://lift-off.sh/images/badges/badgeLaunchedLight.webp"
      alt="LiftOff launch badge"
      width="200"
      height="auto"
    />
  </a>
</footer>
